# .NET Engine related
**/bin/
**/obj/
*.user
*.suo
*.sln.docstates

# Node.js Gateway related
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Extension related
**/dist/
**/build/
.DS_Store

# Environment & Secrets (VERY IMPORTANT)
.env
*.pem
*.key

# Database
prisma/dev.db
prisma/dev.db-journal